{% load static %}
<header class="flex-col">
    <div class="header flex-row">
        <div class="header-container">
            <div class="logo-block flex-row">
                <button class="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="{% url 'home' %}" class="flex-row">
                    <img src="{% static 'images/logo.png' %}" alt="" />
                    <h3>LibertyPost</h3>
                </a>
            </div>
            <div class="header-control flex-row">
                <a href="{% url 'articles:search' %}">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
                {% if user.is_authenticated %}
                    {% if not user.is_superuser %}
                    <a href="{% url 'articles:create_article' %}">
                        <i class="fa-solid fa-pen fa-lg"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}">
                        <i class="fa-solid fa-user-shield fa-lg"></i>
                    </a>
                    {% endif %}
                    <!-- Для зарегистрированных пользователей показываем аватар -->
                    <a href="{% url 'account:profile' %}">
                        {% if user.image %}
                            <img class="avatar" src="{{ user.image.url }}" alt="{{ user.username }}" />
                        {% else %}
                            <img class="avatar" src="https://placehold.co/32x32" alt="{{ user.username }}" />
                        {% endif %}
                    </a>
                {% else %}
                    <!-- Для незарегистрированных пользователей показываем ссылку на вход -->
                    <a href="{% url 'account:login' %}">
                        <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-container">
            <ul class="flex-row">
                {% for category in categories %}
                <li>
                    <a href="{{ category.get_absolute_url }}"
                        >{{ category.name }}</a
                    >
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="mobile-menu">
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            {% for category in categories %}
            <li>
                <a href="{{ category.get_absolute_url }}"
                    >{{ category.name }}</a
                >
            </li>
            {% endfor %}
        </ul>
    </div>
</header>
