{% if is_paginated %}
<nav class="paginator">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-double-left"></i></a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-left"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fas fa-angle-double-left"></i></span></li>
            <li class="disabled"><span><i class="fas fa-angle-left"></i></span></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active">{{ i }}</li>
            {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-right"></i></a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-angle-double-right"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fas fa-angle-right"></i></span></li>
            <li class="disabled"><span><i class="fas fa-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
