{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link
            rel="shortcut icon"
            href="{% static 'images/logo.png' %}"
            type="image/x-icon"
        />
        <script src="{% static 'js/script.js' %}" defer></script>
        <script src="{% static 'js/form-validator.js' %}" defer></script>
        <script src="{% static 'js/multiselect.js' %}" defer></script>
        <script
            src="https://kit.fontawesome.com/86e3599ebf.js"
            crossorigin="anonymous"
        ></script>
        <title>{{ title|default:"Без заголовка" }} | LibertyPost</title>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
