{% extends "articles/main.html" %} 
{% block main_content %} 
{% load custom_filters %}
<div class="card category-card">
    <h4>{{ category.name }}</h4>
    <hr />
    <!-- <form action="">
        <select name="" id="" class="filter">
            <option value="">Сначала новые</option>
            <option value="">Сначала старые</option>
        </select>
    </form> -->
</div>

{% for article in articles %}


<div class="card card-article card-padding">
    <div class="card-info flex-row">
        <a href="{{ article.author.get_absolute_url }}" class="user-info flex-row">
            <img src="{{ article.author.image.url|default:'https://placehold.co/32x32' }}" alt="" />
            <p>{{ article.author.username }}</p>
        </a>
        <p>{{ article.created_at|timesince_one_level }} назад</p>
    </div>
    <div class="card-header">
        <a href="{% url 'articles:article' article.id %}" class="article-title">
            <h2 class="shirt">{{ article.title }}</h2>
        </a>
        <div class="card-categories">
            {% for category in article.categories.all %}
            <a href="{% url 'articles:category' category.slug %}"
                >{{ category.name }}</a
            >
            {% endfor %}
        </div>
    </div>
    <div class="card-body">
        {% if article.image %}
        <img src="{{ article.image.url }}" alt="" />
        {% endif %}
        <div class="article article-shirt">
            {{ article.html_content|safe }}
        </div>
    </div>

    <div class="card-footer">
        <button class="read-button" type="button" onclick="document.location.href=`{% url 'articles:article' article.id %}`">Читать</button>
        <div class="interactive flex-row">
            <div class="interactive-item">
                <a href="{% url 'articles:article' article.id %}#comment" class="flex-row">
                    <i class="fa-solid fa-message"></i>
                    <p>{{ article.comment_count }}</p>
                </a>
            </div>
            <div
                class="interactive-item"
                onclick="copyLink(`{{ request.scheme }}://{{ request.get_host }}{% url 'articles:article' article.id %}`)"
            >
                <i class="fa-solid fa-share"></i>
            </div>
        </div>
    </div>
</div>
{% endfor %} 

{% include "articles/includes/paginator.html" %}

{% endblock main_content %}
